<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="/img/about-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>About Chic and Lighting</h3>
                        <p class="fst-italic">
                            Welcome to Chic and Lighting, your ultimate destination for exquisite lighting solutions and home decor accessories! At Chic and Lighting, we believe that every space deserves to shine with elegance and style. Whether you're looking to illuminate your living room, bedroom, kitchen, or outdoor area, we have the perfect lighting fixtures to elevate your ambiance.
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check-circle"></i> Quality Craftsmanship: We handpick each item in our collection, ensuring superior quality and craftsmanship. From sleek modern designs to timeless classics, every piece is crafted to perfection.
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Diverse Selection: Whether you prefer minimalist pendant lights, glamorous chandeliers, or rustic table lamps, our diverse selection caters to all tastes and preferences. Explore our curated categories to find the perfect match for your style.
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Expert Advice: Our team of design experts is dedicated to helping you find the ideal lighting solutions for your space. From product recommendations to design tips, we're here to guide you every step of the way.
                            </li>
                        </ul>
                        <p>
                            At Chic and Lighting, we're committed to inspiring creativity and enhancing the beauty of your surroundings. Whether you're revamping your home, office, or commercial space, let us illuminate your world with our stunning collection of lighting fixtures and home decor accents.

                            Thank you for choosing Chic and Lighting to brighten up your life!
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Staffs Section ======= -->
        <section id="staffs" class="staffs">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Staffs</h2>
                    <p>Our Proffesional Crew</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <img src="/img/staffs/qhuy.jpg" style="width: 261px; height: 348px;" alt="Custom-sized image">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Quang Huy, Ngo</h4>
                                    <span>Team Leader</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/huy.nq.100"><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <img src="/img/staffs/dtai.jpg" style="width: 261px; height: 348px;" alt="Custom-sized image">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Duc Tai, Le</h4>
                                    <span>Frontend Developer</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/leductai03"><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <img src="/img/staffs/qphuong.jpg" style="width: 261px; height: 348px;" alt="Custom-sized image">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Phuong, Nguyen Quoc</h4>
                                    <span>Designer</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/903.npp"><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <img src="/img/staffs/hson.jpg" style="width: 261px; height: 348px;" alt="Custom-sized image">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Hoang Son, Nguyen Duc</h4>
                                    <span>Backend Developer</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100036039785090"><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Staffs Section -->
    </main><!-- End #main -->
</div>
</body>
</html>