<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_adminlayout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper" style="margin-top: -430px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">List Product</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Update</th>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td>
                            <img th:src="${product.image}" alt="" style="width: 5rem;">
                        </td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.categoryName}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.salePrice}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.statusName}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/product/update/' + ${product.id}}">EDIT</a>
                            <br>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    th:attr="data-target='#exampleModal' + ${product.id}">
                                Delete
                            </button>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'exampleModal' + ${product.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <form method="post" th:action="@{/product/delete}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Are you sure ?</span>
                                            <br>
                                            <span class="text-danger">Delete product : </span>
                                            <span th:text="${product.productName}"></span>
                                            <input type="hidden" name="productId" th:value="${product.id}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
</body>
</html>