<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div th:if="${#lists.isEmpty(products)}" id="cart">
        <div class="d-flex flex-column align-items-center my-5">
            <b>(0)</b>
            <i>You haven't added any product yet</i>
            <p>Figure out more from <a th:href="@{/product/index}" class="btn-link">Our Product</a></p>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(products)}" id="cart">
        <div class="d-flex flex-column align-items-center my-5">
            <div class="section-title">
                <h2>Shopping Cart</h2>
                <p>“You deserve the best”</p>
            </div>
            <div class="container">
                <table>
                    <thead>
                    <tr>
                        <th>Img</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td><img th:src="${product.productImage}" alt=""></td>
                        <td>
                            <i th:text="${product.productName}"></i>
                        </td>
                        <td>
                            <a th:href="@{'/cart/up/' + ${product.id}}" class="btn btn-outline-dark rounded-0 mx-2"
                               style="padding: 0 4px;">
                                <i class="bi bi-plus"></i>
                            </a>
                            <span th:text="${product.quantity}"></span>
                            <a th:href="@{'/cart/down/' + ${product.id}}" class="btn btn-outline-dark rounded-0 mx-2"
                               style="padding: 0 4px;">
                                <i class="bi bi-dash"></i>
                            </a>
                        </td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <form method="POST" th:action="@{/cart/delete}">
                                <input type="hidden" name="productId" th:value="${product.productId}">
                                <button type="submit" class="btn btn-outline-dark rounded-0" name="delete">
                                    DELETE
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center">
                        <h4>Cart total :</h4>
                        <span class="mx-2">$ <span th:text="${total}"></span></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-dark rounded-0"
                           th:attr="data-bs-toggle='modal', data-bs-target='#exampleModal'">Place Order</a>
                    </div>
                    <!-- Modal -->
                    <form method="POST" th:action="@{/order/add}">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Information</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div th:each="product, index : ${products}">
                                            <input type="hidden" th:value="${product.productId}"
                                                   th:attr="name='productInfor[' + ${index.index} + '].productID'">
                                            <input type="hidden" th:value="${product.quantity}"
                                                   th:attr="name='productInfor[' + ${index.index} + '].quantity'">
                                            <input type="hidden" th:value="${product.price}"
                                                   th:attr="name='productInfor[' + ${index.index} + '].price'">
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">First Name</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="firstname" id="firstname" name="firstName">
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Last Name</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="lastname" id="lastname" name="lastName">
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Address</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="address" id="address" name="address">
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Phone</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="phone" id="phone" name="phone">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="payment">Payment</label>
                                            </div>
                                            <select class="custom-select" id="payment" name="payment">
                                                <option th:each="payment : ${payments}" th:value="${payment.id}"
                                                        selected th:text="${payment.name}"></option>

                                            </select>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Note</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="note" id="note" name="note">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark rounded-0"
                                                data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-outline-dark rounded-0" id="confirm">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- If AlertMessage is not null -->
    <script th:inline="javascript">
        var alertMessage = [[${AlertMessage}]];
        if (alertMessage != null) {
            alert(alertMessage);
        }
        var successMessage = [[${OrderSuccess}]];
        if (successMessage != null) {
            alert(successMessage);
        }
    </script>


</div>
</body>
</html>