<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_dashboardlayout">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="content">
  <div class="wrapper">
    <div class="content-wrapper" style="margin-top: -660px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <form action="#" th:action="@{/dashboard/profit}" method="get">
            <div class="row">
              <div class="p-3 col">
                <label  class="form-label">Year:</label>
                <select class="form-select form-select-lg w-50" aria-label=".form-select-lg example" name="year">
                  <option th:each="year : ${years}" th:value="${year.value}" th:text="${year.text}" th:selected="${year.value == currentYear}"></option>
                </select>
              </div>
              <div class="p-3 col">
                <button type="submit" class="btn btn-success w-50">View</button>
              </div>
            </div>
          </form>
          <div class="chart">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script th:inline="javascript">
    /*<![CDATA[*/
    var canvas = document.getElementById('lineChart');
    var chartData = /*[[${values}]]*/ [];
    var chartLabels = /*[[${labels}]]*/ [];

    var chartDataObj = {
      labels: chartLabels,
      datasets: [{
        label: 'Profit ($)',
        data: chartData,
        backgroundColor: '#5CB646',
        fill: false,
        borderColor: '#5CB646',
        tension: 0.1
      }]
    };

    var chart = new Chart(canvas, {
      type: 'line',
      data: chartDataObj,
      options: {
        responsive: true,
        scales: {
          x: {
            beginAtZero: true
          }
        }
      }
    });
    /*]]>*/
  </script>
</section>
</body>
</html>