<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div id="cart">
        <div class="d-flex flex-column align-items-center my-5">
            <div class="section-title">
                <h2>PROFILE</h2>
            </div>
            <div class="container">
                <div>
                    <label>FIRST NAME</label>
                    <input class="form-control" type="text" th:value="${user.firstName}" readonly>
                </div>
                <div>
                    <label>LAST NAME</label>
                    <input class="form-control" type="text" th:value="${user.lastName}" readonly>
                </div>
                <div>
                    <label>ADDRESS</label>
                    <input class="form-control" type="text" th:value="${user.address}" readonly>
                </div>
                <div>
                    <label>EMAIL</label>
                    <input class="form-control" type="text" th:value="${user.email}" readonly>
                </div>
                <div>
                    <label>PASSWORD</label>
                    <input class="form-control" type="password" placeholder="************** Click here to change password" id="password" readonly>
                </div>
                <div th:if="${response != null}">
                    <p th:if="${response?.containsKey('Empty')}" style="color: red;" th:text="${response['Empty']}"></p>
                    <p th:if="${response?.containsKey('NotMatch')}" style="color: red;" th:text="${response['NotMatch']}"></p>
                    <p th:if="${response?.containsKey('InvalidPass')}" style="color: red;" th:text="${response['InvalidPass']}"></p>
                    <p th:if="${response?.containsKey('Success')}" style="color: green;" th:text="${response['Success']}"></p>
                </div>
                <div id="changepass">
                    <form method="POST" action="/user/change">
                        <div class="mb-3 mt-3">
                            <label for="CurrentPass">Current Password</label>
                            <input type="password" id="currentpass" name="CurrentPass">
                        </div>
                        <div class="mb-3">
                            <label for="NewPass">New Password</label>
                            <input type="password" id="newpass" name="NewPass">
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmNewPass">Confirm New Password</label>
                            <input type="password" id="confirmnewpass" name="ConfirmNewPass">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-outline-dark rounded-0" id="submitchange" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#changepass").hide();
        });

        $("#password").click(function () {
            $("#changepass").show();
        });
    </script>
</div>
</body>
</html>